extends ../layout

block content 
    .container

        h1 Elige un enemigo
        if error 
            p.error= error 
        if data
            .container
                section(class="mostrar-tarjetas")  
                    each enemy in data  
                        div
                            p=enemy.Name
                            p= "Raza: " + enemy.raza.Name
                            p= "Arma: " + enemy.arma.Name
                            //- a(href=`/character/${character.Character_id}`)
                            //-     button.play-button Jugar
                    