extends ../layout

block content 
    .container

        h1 Elige un enemigo
        if error 
            p.error= error 
        if data
            .container
                section(class="mostrar-tarjetas")  
                    each enemy in data  
                        div
                            p=character.Name
                            p= "Raza: " + character.raza.Name
                            p= "Arma: " + character.arma.Name
                            a(href=`/character/${character.Character_id}`)
                                button.play-button Jugar
                    
                                 
                a(href="./character/raza")
                    button.btn-crear Crear personaje

