extends ../layout

block content
  .container
    h1= name
    h2(class="layout-title") Crear Personaje
    if error 
      p(class="error")= error
    h3(class="center") Elige un Mapa y un Nombre:   
    section(class="mostrar-tarjetas")  
      each mapa in mapas 
        div
          p=mapa.Name
          //- p= "Id: " + mapa.Map_id
          form(action="/character/create", method="post")                
            label(for="Name") Nombre:
            input(type="text", id="Name", name="Name")
            
            input(type="hidden", id="raza-id", name="Race_id", value=race)
            input(type="hidden", name="Weapon_id", value=weapon)
            select(class="escondido", id="Map_id", name="Map_id")
              option(value=mapa.Map_id)= mapa.Name
            br
            button.btn(type="submit") Comenzar
      
    a#btn-volver(href="/character/raza")
      button.btn Volver 

  script(src='/scripts/obtenerId.js')
