//- extends ../layout

//- block content 
//-     if error 
//-         p(class="error")= error
//-     if user
//-         form(action="/user/"+user.User_id, method="post") 
//-             label(for="Name") Nombre 
//-             input(id="Name" type="text" name="Name" value=user.Name) 
//-             label(for="Is_Admin") Es administrador?
//-             input#Is_Admin(type="checkbox", name="Is_Admin" checked=user.Is_Admin ? true:false)
//-             label(for="Email") Email
//-             input#Email(type="text", name="Email" value=user.Email)              
//-             label(for="Password") Password 
//-             input(id="Password" type="text" name="Password" value=user.Password) 
//-             button(type="submit") Guardar





extends ../layout

block content
    .container
        if error 
            p(class="error")= error
        if user
            form(action="/user/"+user.User_id, method="post") 
                .form-group
                    label(for="Name", class="input-label") Nombre 
                    input#Name.form-input(type="text", name="Name", value=user.Name) 
                .form-group
                    label(for="Is_Admin", class="input-label") Es administrador?
                    input#Is_Admin.checkbox(type="checkbox", name="Is_Admin", checked=user.Is_Admin ? true:false)
                .form-group
                    label(for="Email", class="input-label") Email
                    input#Email.form-input(type="text", name="Email", value=user.Email)              
                .form-group
                    label(for="Password", class="input-label") Password 
                    input#Password.form-input(type="text", name="Password", value=user.Password) 
                button.btn(type="submit") Guardar 


